<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
    <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Home</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-row>
        <ion-col>
          <ion-card>
            <h1 orange>27</h1>
            <p>A homolar</p>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <h1 grey>10</h1>
            <p>Encerradas</p>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <h1 green>41</h1>
            <p>Em gozo</p>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <h1 green>18</h1>
            <p>Homologadas</p>
          </ion-card>
        </ion-col>
      </ion-row>
</ion-content>
