<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
    <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Home</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card [routerLink]="['/product-detail']">
        <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg" />
        <ion-header>
            <ion-card-subtitle>Product</ion-card-subtitle>
            <ion-card-title>TestProduct</ion-card-title>
        </ion-header>
        <!--<img-loader *ngIf="product.images" src="{{product.images[0].src}}" useImg></img-loader>
        -->
    </ion-card>

</ion-content>
